body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #87CEEB; /* Color de fondo azul cielo */
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    color: white;
    font-size: 2.5em;
    margin: 0;
}
